name: CMake Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
   
    - uses: actions/checkout@v4

    - name: Check CPU flags
      run: lscpu | grep avx

    - name: Configure CMake
      run: cmake -DCMAKE_BUILD_TYPE=Release -S . -B build
      
    - name: Build
      run: cmake --build build --parallel
